.layadmin-serach-list {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #f6f6f6;
}
.right_top{
right: 20px;
top: 50px;
overflow: hidden;
z-index: 9999;
position: fixed;
padding:5px;
}.layui-form-radio * {font-size:40px;line-height:1.5em !important;}
.layui-form-checkbox{display:block !important; height:auto !important; width:640px; overflow:visible !important;}
.layui-form-checkbox span {display:block;width:auto;white-space:normal !important; height:auto !important; font-size:40px; line-height:1.5em !important; } 

.layadmin-font-em {
font-size: 40px;
color: #758697;
}
h4{display:bolck; font-size:40px;font-weight:bold; padding:30px 0px 30px 0px !important;}
 

.layui-form-item p{font-size:40px;font-weight:normal;} 
.questionName {font-size:40px; line-height:1.5em; font-weight:bold; margin-top:40px;} 

.layui-form-item p input{display: inline-block; text-align: left;}
.lastTime_class{
	color: #00A06B;
	font-size: 40px;
	font-weight: 900;
}
.paperName_class{
	font-size: 40px;
}