body{background-color: #ebedf3;}

/*top*/
.top-total{height:68px;}
.top-total-list{position: relative; height:68px;}
.top-total-list .logo-list{position: absolute; top:14px; left:50px;}
.top-total-list .logo-list .logo-image{ }
.top-total-list .logo-list .logo-name{font-size: 1.2rem; color: #fff; }

.top-total-list .menu-list{position: absolute; left:300px; bottom:0px;}
.top-total-list .menu-list ul{ font-size: 16px;}
.top-total-list .menu-list ul li{display: inline-block; line-height: 64px;}
.top-total-list .menu-list ul li a{color: #fff; display: block; padding:0 16px;}
.top-total-list .menu-list ul li.current{background-image: url("../images/arrow-top.png"); background-position: bottom center; background-repeat: no-repeat; background-size: 12px;}

.top-total-list .person-list{position: absolute; right:10px; top:8px;}

.top-total-list .person-list .person-photo{position: relative;  width: 50px; background: center #fff no-repeat;  height: 50px; text-align: center; border-radius: 50%; overflow: hidden;}
.top-total-list .person-list .person-photo img{ width: 50px;  height: 50px;  }

.top-total-list .person-drop-down{position: absolute; right:16px; top:60px; background-color: #fff; border-radius: 10px; box-shadow: 1px 2px 2px #ddd; z-index: 10; padding:6px 4px;}
.top-total-list .person-drop-down li{border-bottom:1px solid #eee;  padding:0 10px; }
.top-total-list .person-drop-down li a{display: block; padding:6px 0; color: #666; }


/*快速菜单配置*/
.my-menu{ }
.my-menu .my-menu-list{ background-color: rgba(255,255,255,0.96);  border-radius: 10px;  box-shadow: 1px 4px 4px #bbb;  padding: 20px 30px;  position: relative;margin-top:20px;}

.my-menu .my-menu-list-left{max-height: 460px; overflow: auto;}

.my-menu .my-menu-list-right{}
.my-menu .my-menu-list-right ul{margin-top:30%;border-left:2px solid #eee; padding:10px 0;}
.my-menu .my-menu-list-right ul li{  margin:6px 0; padding-left:16px; }
.my-menu .my-menu-list-right ul li a{padding:8px 0; display: block; font-size: 16px; color: #444; margin-left:-18px; text-indent: 1.2em; }
.my-menu .my-menu-list-right ul li a:hover{ color: #3195db; border-left:2px solid #3195db; text-indent: 1.1em;}
.my-menu .my-menu-list-right ul li a.current{ color: #3195db; border-left:2px solid #3195db; text-indent: 1.1em;}


.my-menu .my-menu-nav{ line-height: 30px; margin-bottom:20px; width: 98%;}
.my-menu .my-menu-nav h4{font-size: 16px; color: #444; margin-bottom: 8px;}
.my-menu .my-menu-nav dl{margin-bottom:10px }
.my-menu .my-menu-nav dl dt{ padding-left:10px; ;height: 30px; }
.my-menu .my-menu-nav dl dt a{padding:0; text-indent: .1em; display: block; font-size: 14px; color: #444;  }
.my-menu .my-menu-nav dl dt:hover{ color: #333; background-color: #eee;}
.my-menu .my-menu-nav dl dt i.current{ color: #3195db; }
.my-menu .my-menu-nav dl dd{  width: 100%; }
.my-menu .my-menu-nav dl dd h5 a{padding:0; text-indent: 2em; display: block; font-size: 14px; color: #888;   }
.my-menu .my-menu-nav dl dd h5:hover{ color: #333; background-color: #eee; }
.my-menu .my-menu-nav dl dd h5 i.current{ color: #3195db; }

.my-menu .my-menu-btn{ position: absolute; bottom:30px; width:100%;}
.my-menu .float-close{ position: absolute; top:10px; right:20px;}









/*模块导航*/
.modular-list{ min-height: 460px;}
.modular-list ul {}
.modular-list ul li{width:18%; display: inline-block; margin:30px 10px;}
.modular-list .blue-cricle{width:78px; height: 78px; border-radius: 50%; text-align: center;  line-height: 78px;}
.modular-list .modular-text{margin-top:10px; font-size: 18px; color: #444;}



/*版权*/
.copyright{background-color: #f0f2f8; padding: 20px 0;}



/*左边菜单*/
.left-content{ background-color: #ebedf3; min-height: 600px; }
.left-content dl{  color: #444;}
/**.left-content dl dt{ text-indent: 1em;  font-size:16px; position: relative;}**/
.left-content dl dt span{ position: absolute; right:10px; top:1px; }
.left-content dl dd { text-indent: 3.2em;  margin-top:6px;}
.left-content dl dd a{ display: block; padding:8px 0; font-size:14px;  color: #444;}
.left-content dl dd a:hover{ background-color: #fff;   }
.left-content dl dd a.current{ background-color: #fff;   }

/*left*/
.leftsidebar_box{background-color:#F9F9F9;padding-left: 5px;border-right: 2px solid #E5E5E5;}
.line{height:2px;width:100%;background-image:url(../images/left/line_bg.png);background-repeat:repeat-x;}
.left-content dl{border-bottom: 1px solid #E5E5E5; border-color: #FCFCFC -moz-use-text-color #E5E5E5;}
.left-content dt{padding-left:40px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#585858;font-size:14px;position:relative;line-height:48px;cursor:pointer;background-color:#F2F2F2}
.left-content dd{background-color:#FFFFFF;}
.left-content dd a{color:#585858;line-height:20px;font-size: 14px;}
.left-content dt img{position:absolute;right:10px;top:20px;}
.home dt{background-image:url(../images/left/home.png)}
.system_log dt{background-image:url(../images/left/system.png)}
.custom dt{background-image:url(../images/left/p1.png)}
.channel dt{background-image:url(../images/left/p2.png)}
.app dt{background-image:url(../images/left/paper.png)}
.cloud dt{background-image:url(../images/left/subject.png)}
.syetem_management dt{background-image:url(../images/left/plan.png)}
.source dt{background-image:url(../images/left/clock.png)}
.statistics dt{background-image:url(../images/left/statistics.png)}
.online_test dt{background-image:url(../images/left/online_test.png)}
.left-content dl dd:last-child{padding-bottom:10px;}
.left-content dt{ font-weight: 700;  font-size: 12px;}
.left-content dl dd:last-child { padding-bottom: 2px; }
.left-content dl dd { text-indent: 3.2em; margin-top: 1px; }
	

/*面包屑导航*/
.quick-nav{ padding:10px 20px;}

/*右 查询*/
.right-search{}
.right-search .layui-input, .right-search .layui-select, .right-search .layui-textarea{ height: 30px !important;}
.right-search ol {width:90%;}
.right-search ol input{  text-indent: .6em;}
.right-search ol.layui-row{  margin-bottom:10px; }
.right-search ol dt{  line-height: 30px; color: #666; text-align: right; padding-right:14px; }
.right-search ol dd{  line-height: 30px; color: #666; }
.right-search ol dd::after{content: '';  display: block;  clear: both;}
.right-search ol dd::before{content: '';  display: block;  clear: both;}


.right-search ol .layui-form-select dl {  top:29px; }
.right-search ol .layui-form-select dl dd.layui-this {background-color:#3291f2;}
.right-search .layui-form-item .layui-inline{margin-right:0;margin-bottom:0;}
.right-search .layui-input, .layui-textarea{padding-left:0;}
.right-search .layui-form-item{margin-bottom:0;}



/*操作*/
.operation-content{}
.operation-content .layui-btn-sm {font-size:14px !important;}
.operation-content .layui-btn-sm i{font-size:14px !important;}
.operation-content .layui-btn-group .layui-btn-primary:hover {  border-color: #e7e7e7;  color: #3195db  }
.operation-content .layui-btn-group .layui-btn-primary:first-child {  border-left: 1px solid #e7e7e7  }
.operation-content .layui-btn-primary {  border: 1px solid #e7e7e7;  border-left:0; background-color: #fff;  color: #444  }












