<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plg.shiro.dao.OmExamSubmitMapper">
  <resultMap id="BaseResultMap" type="com.plg.shiro.entity.OmExamSubmit">
    <id column="submit_id" jdbcType="VARCHAR" property="submitId" />
    <result column="plan_id" jdbcType="VARCHAR" property="planId" />
    <result column="paper_id" jdbcType="VARCHAR" property="paperId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="mark_time" jdbcType="TIMESTAMP" property="markTime" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
    <result column="mark_user_id" jdbcType="VARCHAR" property="markUserId" />
    <result column="mark_user" jdbcType="VARCHAR" property="markUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="plan_type" jdbcType="VARCHAR" property="planType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    submit_id, plan_id, paper_id, user_id, status, start_time, submit_time, mark_time, 
    publish_time, total_score, mark_user_id, mark_user, create_time, update_time,plan_type
  </sql>
  <select id="selectByExample" parameterType="com.plg.shiro.entity.OmExamSubmitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_exam_submit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0" >
	 limit ${limitStart}, ${limitPageSize}
	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_exam_submit
    where submit_id = #{submitId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from om_exam_submit
    where submit_id = #{submitId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.plg.shiro.entity.OmExamSubmitExample">
    delete from om_exam_submit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.plg.shiro.entity.OmExamSubmit">
    insert into om_exam_submit (submit_id, plan_id, paper_id, 
      user_id, status, start_time, 
      submit_time, mark_time, publish_time, 
      total_score, mark_user_id, mark_user, 
      create_time, update_time,plan_type)
    values (#{submitId,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{paperId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{submitTime,jdbcType=TIMESTAMP}, #{markTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{totalScore,jdbcType=INTEGER}, #{markUserId,jdbcType=VARCHAR}, #{markUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{planType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.plg.shiro.entity.OmExamSubmit">
    insert into om_exam_submit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="submitId != null">
        submit_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="markTime != null">
        mark_time,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="markUserId != null">
        mark_user_id,
      </if>
      <if test="markUser != null">
        mark_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="planType != null">
        plan_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="submitId != null">
        #{submitId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="markTime != null">
        #{markTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="markUserId != null">
        #{markUserId,jdbcType=VARCHAR},
      </if>
      <if test="markUser != null">
        #{markUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planType != null">
        #{planType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.plg.shiro.entity.OmExamSubmitExample" resultType="java.lang.Long">
    select count(*) from om_exam_submit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update om_exam_submit
    <set>
      <if test="record.submitId != null">
        submit_id = #{record.submitId,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitTime != null">
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.markTime != null">
        mark_time = #{record.markTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publishTime != null">
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalScore != null">
        total_score = #{record.totalScore,jdbcType=INTEGER},
      </if>
      <if test="record.markUserId != null">
        mark_user_id = #{record.markUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.markUser != null">
        mark_user = #{record.markUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planType != null">
        plan_type = #{record.planType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update om_exam_submit
    set submit_id = #{record.submitId,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=VARCHAR},
      paper_id = #{record.paperId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      mark_time = #{record.markTime,jdbcType=TIMESTAMP},
      publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      total_score = #{record.totalScore,jdbcType=INTEGER},
      mark_user_id = #{record.markUserId,jdbcType=VARCHAR},
      mark_user = #{record.markUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      plan_type = #{record.planType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.plg.shiro.entity.OmExamSubmit">
    update om_exam_submit
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="markTime != null">
        mark_time = #{markTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="markUserId != null">
        mark_user_id = #{markUserId,jdbcType=VARCHAR},
      </if>
      <if test="markUser != null">
        mark_user = #{markUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planType != null">
        plan_type = #{planType,jdbcType=VARCHAR},
      </if>
    </set>
    where submit_id = #{submitId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plg.shiro.entity.OmExamSubmit">
    update om_exam_submit
    set plan_id = #{planId,jdbcType=VARCHAR},
      paper_id = #{paperId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      mark_time = #{markTime,jdbcType=TIMESTAMP},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      total_score = #{totalScore,jdbcType=INTEGER},
      mark_user_id = #{markUserId,jdbcType=VARCHAR},
      mark_user = #{markUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      plan_type = #{planType,jdbcType=VARCHAR}
    where submit_id = #{submitId,jdbcType=VARCHAR}
  </update>
</mapper>